@media (max-width: 768px) {
    main {
        padding: var(--spacing-1600) var(--spacing-600);
    }

    .recipe-card {
        max-width: 616px;
    }

}

@media (max-width: 450px) {
    main {
        padding: 0;
    }

    .recipe-card {
        position: relative;
        width: 100%;
        max-width: 375px;
        border-radius: 0;
        gap: 0;
        padding: 0;
    }

    .recipe-card img {
        width: 100%;
        border-radius: 0;
    }

    .recipe-details {
        padding: var(--spacing-500) var(--spacing-400);
    }

    .recipe-header h1 {
        font-size: var(--font-size-mobile-text-preset-1);

    }

    .preparation-time {
        padding: var(--spacing-300);
        gap: var(--spacing-200);
    }
}